.form {
  background: #b5ffb9;
  width: 400px;
  padding: 20px 10px;
  margin: 0 auto;
}
.form h2 {
  margin: 0;
  margin-bottom: 10px;
}
.form label {
  font-size: 18px;
}
.form input {
  height: 25px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;  
}